:root { 
--black_900_7f:#0000007f; 
--white_A700_b2:#ffffffb2; 
--red_900:#b01b24; 
--black_900_90:#00000090; 
--green_700:#1eb01b; 
--amber_A100:#ffe174; 
--gray_50:#f8f7fc; 
--black_900_87:#00000087; 
--black_900_00:#00000000; 
--black_900:#000000; 
--deep_purple_A700:#3d0ef9; 
--purple_500:#ad1bb0; 
--deep_orange_A400:#f9250f; 
--black_900_4c:#0000004c; 
--black_900_a2:#000000a2; 
--orange_A700:#f9630e; 
--white_A700_4f:#ffffff4f; 
--gray_900:#222226; 
--bluegray_100:#d1d4d8; 
--gray_200:#ebebeb; 
--black_900_a5:#000000a5; 
--gray_100:#f6f6f6; 
--bluegray_900:#2b2d42; 
--white_A700_87:#ffffff87; 
--black_900_cc:#000000cc; 
--bluegray_400:#8e8e8e; 
--white_A700:#ffffff; 
}